<div class="app">
  <!-- <app-twoway></app-twoway>
  <app-darkmode></app-darkmode> -->
  <!-- <app-ngif></app-ngif> -->
  <!-- <app-ngfor></app-ngfor> -->
  <!-- <app-ngforfetch></app-ngforfetch> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-ngclass></app-ngclass> -->
  <!-- <app-ngstyle></app-ngstyle> -->
  <!-- <app-home></app-home> -->
  <!-- <app-inputdecorator></app-inputdecorator> -->
  <!-- <app-parent-decorator></app-parent-decorator> -->
  <!-- <app-user1></app-user1>
  <app-user2></app-user2> -->
  <!-- <div class="container mt-5">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" /> Switch to Card Format
    </div>
    <app-table-c></app-table-c>
    <app-card-c></app-card-c>
  </div> -->
  <!-- <app-templateform></app-templateform> -->
  <!-- <app-reactiveform></app-reactiveform> -->
  <!-- <app-formbuilder-c></app-formbuilder-c> -->

  <app-nav></app-nav>
  <router-outlet></router-outlet>
</div>
