<div class="app">
  <app-nav></app-nav>
  <!-- <app-twoway></app-twoway>
  <app-darkmode></app-darkmode> -->
  <!-- <app-ngif></app-ngif> -->
  <!-- <app-ngfor></app-ngfor> -->
  <!-- <app-ngforfetch></app-ngforfetch> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-ngclass></app-ngclass> -->
  <!-- <app-ngstyle></app-ngstyle> -->
  <!-- <app-home></app-home> -->
  <!-- <app-inputdecorator></app-inputdecorator> -->
  <!-- <app-parent-decorator></app-parent-decorator> -->
  <app-user1></app-user1>
  <app-user2></app-user2>
</div>
