<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h3>Child Component</h3>
        </div>
        <div class="card-body">
          <div>
            <input type="text" class="form-control" [(ngModel)]="childData" />
            <button (click)="sendDataToParent()" class="btn mt-2 btn-primary">
              Send Data to Parent
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
