/* You can add global styles to this file, and also import other style files */
.bg-primary {
  background: linear-gradient(45deg, black, darkred);
}
.bg-success {
  background: linear-gradient(45deg, darkgreen, darkred);
}
.bg-dark {
  background: linear-gradient(45deg, rgb(37, 19, 12), black);
}
