<!-- <div class="container bg-primary p-5 mt-5">
  <div class="row bg-secondary">Box1</div>

  <div class="row bg-danger">Box2</div>
</div>

<div class="container-fluid bg-dark p-5">
  <p class="text-white">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus autem
    fugit expedita perferendis nihil explicabo rerum fugiat! Nulla illo nisi
    minima! Excepturi, similique dignissimos corporis nobis itaque ullam natus
    quod sunt cupiditate quisquam repudiandae eligendi, enim molestiae expedita
    labore dicta rerum perspiciatis molestias at eum sed? Voluptatem, incidunt.
    Laborum, voluptatem!
  </p>
</div>

<div class="container bg-warning p-5">
  <div class="row">
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-danger">Col 2</div>
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-danger">Col 2</div>
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-danger">Col 2</div>
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-danger">Col 2</div>
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-danger">Col 2</div>
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-danger">Col 2</div>
  </div>
</div>

<div class="container bg-dark mb-5 p-5">
  <div class="row bg-primary">
    <div class="col-4 bg-warning">C 1</div>
    <div class="col-4 bg-info">C 2</div>
    <div class="col-4 bg-danger">C 3</div>
  </div>

  <div class="row bg-success mt-4">
    <div class="col-6 bg-primary">C 1</div>
    <div class="col-6 bg-warning">C 2</div>
  </div>
</div> -->

<div class="container bg-success p-5">
  <div class="row">
    <div class="col-4"></div>

    <div class="col-4">
      <div class="card bg-primary">
        <div class="card-header bg-dark text-white">
          <p>Card Header</p>
        </div>

        <div class="card-body bg-secondary text-white">
          <p>Card body</p>
        </div>
        <div class="card-footer bg-warning text-white">
          <p>card-footer</p>
        </div>
      </div>
    </div>

    <div class="col-4"></div>
  </div>
</div>
