<div class="mainContainer">
  <div class="subContainer">
    <h2 class="display-2">Welcome to Shopping Site</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste dolorum
      eveniet dolorem sunt molestias iure omnis saepe non cupiditate! Autem
      numquam at animi expedita distinctio, similique, officia excepturi enim
      necessitatibus, totam soluta iusto non placeat earum! Qui, autem ab fuga
      accusantium reprehenderit doloribus magnam dolores ipsum ad ducimus
      deleniti deserunt.
    </p>
    <button class="btn btn-outline-primary">Explore More!!!</button>
  </div>
</div>
