<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h2>Show hide Password</h2>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <input [type]="passwordtype" class="form-control" />
            </div>

            <div class="col-6">
              <div class="form-check">
                <input
                  (change)="changeType()"
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckCheckedDisabled"
                />
                <label class="form-check-label" for="flexCheckCheckedDisabled">
                  Show Password
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
