<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-4">
      <ul class="list-unstyled">
        <li class="mb-3">
          <a class="btn btn-danger" routerLink="electronic">Electronic</a>
        </li>
        <li class="mb-3">
          <a class="btn btn-danger" routerLink="jewelary">Jewelary</a>
        </li>
        <li class="mb-3">
          <a class="btn btn-danger" routerLink="Men'sClothing"
            >Men's Clothing</a
          >
        </li>
        <li class="mb-3">
          <a class="btn btn-danger" routerLink="WoMen'sClothing"
            >Women's Clothing</a
          >
        </li>
      </ul>
    </div>

    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
