<app-nav></app-nav>

   <div class="container mt-5">
       <div class="row">
           <div class="col-2">
               <img src="https://static.toiimg.com/thumb/resizemode-4,msid-82105782,width-1070/82105782.jpg" class="img-fluid" />
           </div>
           <div class="col-4">
               <dl>
                   <dt>Product Name</dt>
                   <dd>{{mobileProduct.name}}</dd>
                   <dt> Product Price</dt>
                   <dd>{{mobileProduct.price}}</dd>
                   <dt>Product stock</dt>
                   <dd>{{(mobileProduct.stock) ? "Available" : "Out of Stock"}}</dd>
               </dl>
           </div>
       </div>
   </div>
