<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <h2 class="text-white">Shopping Cart</h2>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="productlist">ProductList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="category">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="lch">LifecycleHooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="am">Angular Material</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="pipes">Pipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="up">UsersProfils</a>
      </li>
    </ul>
  </div>
</nav>
